.Help {
  z-index: 100000;
  position: absolute !important;
  height: 100vh !important;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0ms, background-color 0ms, box-shadow 0ms;
  background-color: #f8f8f8;
  border-left: 1px solid #ddd;
  pointer-events: none;
  display: 'flex';
}

.Help--show {
  transition: opacity 200ms, background-color 200ms, box-shadow 200ms;
  opacity: 0.92;
  background-color: #f8f8f8;
  box-shadow: 0 0 50px #0002;
  pointer-events: all;
}

.Help__wrapper {
  color: #000b;
  font-size: 14px;
  user-select: none;
  padding: 10px;
  padding-left: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 20px);
}

.Header,
.Header2 {
  font-weight: 600;
  color: #000b;
  margin-top: 20px;
  line-height: 30px;
  font-size: 18px;
}

.Header2 {
  font-size: 16px;
}

.Key {
  height: 36px;
  display: block;
  width: 100%;
}

.Key__Buttons {
  float: right;
}

.Key__Button {
  letter-spacing: -1px;
  background: white;
  border: 1px solid #bbb;
  box-shadow: 0 3px 0 #bbb;
  color: #333;
  padding: 1px 5px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: -6px;
  font-size: 14px;
}

.Key__Button:first-of-type {
  margin-left: 0;
  margin-right: 10px;
}

.Key__Label {
  font-size: 13px;
  color: #000b;
}

.Key__KeyHelper {
  font-size: 12px;
  line-height: 10px;
  color: #000b;
  margin-left: -6px;
  margin-right: 8px;
  margin-top: 2px;
  font-weight: 400;
  float: right;
  max-width: 60px;
}

.Link {
  font-size: 14px;
  opacity: 1;
  display: block;
  margin: 0;
  margin-bottom: 8px;
  outline: none;
  color: black;
  background-color: #00b8ff99;
  border: 2px solid #00b8ff;
  line-height: 20px;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  width: calc(100% - 18px);
}

.Link:hover {
  background-color: #00b8ffcc;
}

.TextLink {
  display: inline-block;
  color: #006eff;
  cursor: pointer;
}

.HelpPage {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100001;
  padding: 10px;
  padding-left: 20px;
  background-color: #f8f8f8;
  color: #000b;
  font-size: 14px;
  user-select: none;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 20px);
}

.HelpPage p {
  font-size: 14px;
}

.AdvancedTopic {
  height: 36px;
  line-height: 36px;
  display: block;
  width: calc(100% + 20px);
  cursor: pointer;
  margin-left: -20px;
  padding-left: 20px;
  margin-right: -20px;
}

.AdvancedTopic:hover {
  background: #e1eeff;
}

.q {
  display: inline-block;
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0 5px;
  border-radius: 5px;
  color: black;
}
