.List {
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  height: calc(100% - 84px);
}

.List--help-open {
  width: calc(100% - 250px);
}

.TodoItem {
  user-select: none;
  display: block;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  cursor: default;
  position: relative;
  color: rgb(56, 48, 99);
}

.TodoItem--overdue.TodoItem {
  color: #500;
}

.TodoItem i {
  font-size: 14px;
}
.TodoItem__Done {
  position: absolute;
  right: 15px;
}

.TodoItem__HasContent {
  position: absolute;
  right: 35px;
}

.TodoItem__DueToday {
  position: absolute;
  right: 55px;
}

.TodoItem__Priority {
  position: absolute;
  left: 0;
}

.TodoItem__Title {
  position: absolute;
  left: 40px;
  font-size: 14px;
  font-weight: 300;
  max-width: calc(80% - 140px);
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

/*
.TodoItem__Title--link {
   color: #006eff;
  text-decoration: underline;
  cursor: pointer;
}
*/

.TodoItem__Tags {
  position: relative;
  margin-left: auto;
  overflow: hidden;
  z-index: 100;
  width: calc(100px + 20%);
  max-width: calc(20px + 20%);
  right: 75px;
  font-size: 0;
}

.TodoItem__Tags span {
  font-size: 11px;
  line-height: 28px;
  background-color: rgba(205, 212, 252);
  border: 1px solid rgba(34, 26, 85, 0.315);
  border-radius: 5px;
  padding: 0 3px;
  margin-left: 4px;
  color: rgb(56, 48, 99);
  font-weight: 400;
}
.TodoItem__Tags span:first-of-type {
  margin-left: 0;
}

.TodoItem--overdue .TodoItem__Tags span {
  background-color: rgba(255, 115, 115, 0.445);
  border: 1px solid rgba(138, 27, 27, 0.445);
}

.TodoItem--done .TodoItem__Tags span {
  opacity: 0.6;
}

.TodoItem--overdue::before {
  content: ' ';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #f004;
}

.TodoItem--overdue .TodoItem__Title {
  color: #500;
}

.TodoItem--selected {
  background-color: #e9f3ff;
}

.TodoItem__highlight {
  position: absolute;
  display: block;
  width: 4px;
  height: 28px;
  background-color: #00b8ff;
}

.TodoItem--done .TodoItem__Title {
  text-decoration: line-through;
  opacity: 0.6;
}

.TodoItem__PriorityDots--priority-2 {
  float: left;
}

.TodoItem__PriorityDots--priority-1::before,
.TodoItem__PriorityDots--priority-2::before,
.TodoItem__PriorityDots--priority-2::after {
  content: ' ';
  width: 6px;
  height: 6px;
  margin-top: 11px;
  margin-left: 14px;
  border-radius: 50%;
  display: block;
  background: #fc0;
  float: left;
}

.TodoItem__PriorityDots--priority-1::before {
  margin-left: 18px;
}

.TodoItem__PriorityDots--priority-2::after {
  margin-left: 2px;
}

.TodoItem--overdue .TodoItem__PriorityDots--priority-1::before,
.TodoItem--overdue .TodoItem__PriorityDots--priority-2::before,
.TodoItem--overdue .TodoItem__PriorityDots--priority-2::after {
  background: #f70;
}
