.List {
  overflow: scroll;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 80px;
  bottom: 0;
}

.List--help-open {
  right: 250px;
}

.TodoItem {
  user-select: none;
  display: block;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  cursor: default;
  position: relative;
  color: #afc1e4;
}
.TodoItem i {
  font-size: 14px;
}
.TodoItem__Done {
  position: absolute;
  right: 15px;
}

.TodoItem__HasContent {
  position: absolute;
  right: 35px;
}

.TodoItem__DueToday {
  position: absolute;
  right: 55px;
}

.TodoItem__Priority {
  position: absolute;
  left: 0;
}

.TodoItem__Title {
  position: absolute;
  left: 40px;
  max-width: calc(50% - 30px);
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #afc1e4;
}

.TodoItem__Tags {
  position: absolute;
  left: calc(50% + 20px);
}

.TodoItem__Tags span {
  font-size: 12px;
  line-height: 28px;
  background-color: #afc1e4;
  border-radius: 5px;
  padding: 1px 4px;
  margin-left: 4px;
  color: black;
  font-weight: 600;
}

.TodoItem--done .TodoItem__Tags span {
  opacity: 0.6;
}

.TodoItem--overdue::before {
  content: ' ';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #a004;
}
.TodoItem--overdue .TodoItem__Title {
  color: #cbd5e9;
}

.TodoItem--selected {
  background-color: #dee7f122;
}

.TodoItem__highlight {
  position: absolute;
  display: block;
  width: 3px;
  height: 28px;
  background-color: white;
}

.TodoItem--done .TodoItem__Title {
  text-decoration: line-through;
  opacity: 0.6;
}

.TodoItem__PriorityDots--priority-2 {
  float: left;
}

.TodoItem__PriorityDots--priority-1::before,
.TodoItem__PriorityDots--priority-2::before,
.TodoItem__PriorityDots--priority-2::after {
  content: ' ';
  width: 6px;
  height: 6px;
  margin-top: 11px;
  margin-left: 14px;
  border-radius: 50%;
  display: block;
  background: yellow;
  float: left;
}

.TodoItem__PriorityDots--priority-1::before {
  margin-left: 18px;
}

.TodoItem__PriorityDots--priority-2::after {
  margin-left: 2px;
}
