.Search {
  height: 30px;
  width: calc(100% - 80px);
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
}

.Search__Input {
  margin: -2px 30px;
  line-height: 20px;
  font-size: 16px;
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
  padding: 5px 8px;
  padding-right: 33px;
  border-radius: 5px;
  width: calc(100% - 25px);
  border: 2px solid #8787af46;
  font-weight: 300;
  color: #000b;
  outline: none;
  position: relative;
}

.Search__Icon {
  color: #8787af60;
  position: absolute;
  z-index: 1;
  right: -40px;
  top: 7px;
}

.Search--focus .Search__Icon {
  color: #00b8ffee;
}

.Search--help-open {
  width: calc(100% - 330px);
}

.Search__Input:focus {
  border: 2px solid #00b8ffee;
  color: black;
}

.Search--focus::after {
  content: ' ';
  position: absolute;
  display: block;
  width: 4px;
  height: 28px;
  left: 0;
  top: 0;
  background-color: #00b8ff;
}
