.Settings {
  min-width: 500px;
  user-select: none;
}

.Settings__TextArea {
  tab-size: 3;
  margin: 10px 30px;
  line-height: 16px;
  font-size: 14px;
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
  padding: 5px 8px;
  border-radius: 5px;
  width: calc(100% - 90px);
  min-height: calc(100vh - 125px);
  resize: none;
  background-color: #eee5;
  border: 2px solid #8787af46;
  color: #000b;
  outline: none;
  font-weight: 400;
}

.Settings__TextArea:focus {
  border: 2px solid #00b8ffee;
  color: black;
}

.Settings--help-open .Settings__TextArea {
  width: calc(100% - 330px);
}

.Header {
  display: block;
  line-height: 50px;
  padding-left: 30px;
}

.Title {
  color: rgb(34, 26, 85, 0.3);
  font-weight: 400;
  padding-bottom: 2px;
  margin-right: 25px;
  position: relative;
}

.Title:last-of-type {
  padding-bottom: 2px;
  margin-right: 0;
}

.Title--selected {
  padding-bottom: 2px;
  margin-right: 25px;
  color: rgb(34, 26, 85);
  border-bottom: 2px solid rgb(34, 26, 85);
}

.Settings__Success,
.Settings__Error {
  float: right;
  margin-right: 40px;
  height: 50px;
}

.Settings__Error .Settings__ErrorMessage {
  color: black;
  font-size: 14px;
  height: 50px;
}

.Settings__Success i,
.Settings__Error i {
  color: #f00;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  margin-left: 10px;
}

.Settings__Success i {
  color: #0c0;
}

.Settings--help-open .Settings__Error {
  right: 280px;
}

.IntegrationSettings {
  tab-size: 3;
  margin: 10px 30px;
  margin-top: -10px;
  line-height: 16px;
  padding: 5px 8px;
  width: calc(100% - 90px);
  min-height: calc(100vh - 125px);
  color: black;
  font-weight: 400;
}

.Settings--help-open .IntegrationSettings {
  width: calc(100% - 330px);
}

.Label {
  display: block;
  margin: 5px 0;
  margin-right: 5px;
  font-size: 14px;
  color: #000c;
}

.Selectable {
  margin: 0;
  line-height: 18px;
  height: 18px;
  font-size: 14px;
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
  padding: 5px 8px;
  border-radius: 5px;
  resize: none;
  background-color: #eee5;
  border: 2px solid #8787af46;
  color: #000b;
  outline: none;
  font-weight: 400;
  width: 350px;
  text-align: center;
}

.Selectable:focus {
  border: 2px solid #00b8ffee;
  color: black;
}

.Link {
  font-size: 14px;
  line-height: 20px;
  opacity: 1;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 8px;
  outline: none;
  color: black;
  background-color: #00b8ff99;
  border: 2px solid #00b8ff;
  padding: 4px 30px;
  text-align: center;
  border-radius: 5px;
}

.Link:hover {
  background-color: #00b8ffcc;
}

.Note {
  font-size: 14px;
  line-height: 16px;
  margin-top: 30px;
}

.SelectLink {
  display: inline-block;
  color: #006eff;
}

.Danger {
  display: inline-block;
  min-width: 350px;
  border: 2px solid #ff7b7b;
  border-radius: 5px;
  padding: 2px 6px;
  line-height: 20px;
}

.Table {
  border-spacing: 0;
}
