.Settings {
  min-width: 500px;
}

.Settings__TextArea {
  tab-size: 3;
  margin: 10px 30px;
  line-height: 16px;
  font-size: 14px;
  font-family: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
  padding: 5px 8px;
  border-radius: 5px;
  width: calc(100% - 90px);
  min-height: calc(100vh - 125px);
  resize: none;
  background-color: #fff1;
  border: 2px solid #8787af46;
  color: #000b;
  outline: none;
  font-weight: 400;
}

.Settings__TextArea:focus {
  border: 2px solid #00b8ffee;
  color: black;
}

.Settings--help-open .Settings__TextArea {
  width: calc(100% - 330px);
}

.Header {
  user-select: none;
  display: block;
  line-height: 50px;
  padding-left: 30px;
}

.Title {
  padding-bottom: 2px;
  margin-right: 25px;
  color: black;
  border-bottom: 2px solid black;
}

.Settings__Success,
.Settings__Error {
  float: right;
  margin-right: 40px;
}

.Settings__Error .Settings__ErrorMessage {
  color: black;
  font-size: 14px;
}

.Settings__Success i,
.Settings__Error i {
  color: #f00;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  margin-left: 10px;
}

.Settings__Success i {
  color: #2f0;
}

.Settings--help-open .Settings__Error {
  right: 280px;
}
