.Splits {
  display: block;
  line-height: 50px;
  height: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  user-select: none;
  left: 0;
  right: 0;
  padding-right: 50px;
  white-space: nowrap;
  z-index: 0;
}

.Splits--helpOpen {
  right: 250px;
  width: calc(100% - 330px);
}

.Split {
  color: rgb(34, 26, 85, 0.3);
  font-weight: 400;
  padding-bottom: 2px;
  margin-right: 25px;
  position: relative;
}

.Split::before {
  content: ' ';
  background: #fff5;
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -6px;
  right: -6px;
  border-radius: 8px;
  z-index: -1;
}

.Split--selected::before {
  content: ' ';
  background: #fff;
  position: absolute;
  top: -8px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  border-radius: 8px;
  z-index: -1;
}

.Split:last-of-type {
  padding-bottom: 2px;
  margin-right: 0;
}

.Split--selected {
  color: rgb(34, 26, 85);
  border-bottom: 2px solid rgb(34, 26, 85);
}
