.Splits {
  display: block;
  line-height: 50px;
  height: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  user-select: none;
  left: 0;
  right: 0;
  padding-right: 50px;
  white-space: nowrap;
  z-index: 0;
}

.Splits--helpOpen {
  right: 250px;
  width: calc(100% - 330px);
}

.Split {
  color: #8787af88;
  font-weight: 400;
  padding-bottom: 2px;
  margin-right: 25px;
}

.Split:last-of-type {
  padding-bottom: 2px;
  margin-right: 0;
}

.Split--selected {
  color: black;
  border-bottom: 2px solid black;
}
