.Splits {
  display: block;
  line-height: 50px;
  padding-left: 30px;
  user-select: none;
}

.Split {
  color: white;
  padding-bottom: 2px;
  margin-right: 25px;
}

.Split:last-of-type {
  padding-bottom: 2px;
  margin-right: 0;
}

.Split--selected {
  color: #00ffc8;
  /* color: yellow; */
  border-bottom: 2px solid #00ffc8;
  /* border-bottom: 2px solid yellow; */
}
